<div class="modal" (click)="close.emit()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>Nueva Tarea</h2>
      <form (ngSubmit)="createTask()">
        <label>
          Título:
          <input [(ngModel)]="title" name="title" required />
        </label>
        <br /><br />
        <label>
          Contenido:
          <textarea [(ngModel)]="content" name="content"></textarea>
        </label>
        <br /><br />
            <input type="checkbox" [(ngModel)]="is_done" name="is_done">
        <br /><br />
        <button type="submit">Crear</button>
        <button type="button" (click)="close.emit()">Cancelar</button>
      </form>
    </div>
  </div>
  